.dropdown {
  .dropdown-menu {
    display: block;
    padding: 0;
    transition: 0.3s linear;
  }
  .dropdown-content {
    display: block;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: 0.3s ease-out;
  }
  &.is-active {
    .dropdown-menu {
      padding-top: 4px;
    }
    .dropdown-content {
      max-height: 200px;
      padding: 0.5rem 0;
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 20%), 0 0px 0 1px rgb(10 10 10 / 10%);
    }
  }
}