@import "variables";

.timer {
    abbr {
        text-decoration: none;
        text-align: center;
    }
    p {
      font-size: min(10vw,70px);
    }
    strong {
        color: $theme-clr-3;
    }
}