// theme color pallete
$theme-clr-1: #283149;
$theme-clr-2: #404b69;
$theme-clr-3: #f73859;
$theme-clr-4: #dbedf3;

//invert theme
$invert-theme-clr-1: #d7ceb6;
$invert-theme-clr-2: #bfb496;
$invert-theme-clr-3: #08c7a6;
$invert-theme-clr-: #24120c;

//common use
$correct-clr: #80ff00;
$invert-correct-clr: #7f00ff;
$incorrect-clr: #ff5f5f;
$invert-incorrect-clr: #00a0a0;
