// components
@use "layout";
@use "timer";

// pages
@use "otsm";

// commons
@import "variables";

// libraries
@import "bulma/css/bulma.css";

html {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 12px;
    // background-color: rgba($color: #fff, $alpha: 0.2);
    background-color: $theme-clr-2;
  }
  &::-webkit-scrollbar-track {
    background-color: $theme-clr-2;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: rgba(25, 103, 204, 0.5);
    background-color: $theme-clr-1;
    border-radius: 6px;
    border: 3px solid $theme-clr-2;
  }
}

.index-page {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: auto;
  min-height: 100%;
}

.welcome-message {
  text-align: center;
  p {
    color: $theme-clr-4;
    &:first-child {
      font-size: max(2.75vw, 2rem);
      margin-bottom: 0;
      color: $theme-clr-4;
    }
    &:last-child {
      font-size: max(2vw, 1.5rem);
      margin: 0;
    }
  }
  strong {
    font-size: max(3.5vw, 3.5rem);
    color: $theme-clr-4;
    text-shadow: 0 0 15px #ffffff88;
  }
}
